/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
/*General*/
html {
	line-height: 1.35;
}
h2, .block h2 {
	text-transform: inherit;
}

h3 {
	font-size: 1.25em !important;
	font-weight: normal;
	font-style: italic;
}
a {
	transition: color .7s ease;
}
#content {
	font-size: 1.65em;
}
.page-node .field {
	margin-bottom: 1.5em;
}
table .field-type-image .file-icon {
	width: auto;
}
.content-style {
	border: none;
}
.block {
	margin-bottom: 20px;
}
.field-name-field-pdf .field-item {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.paragraphs-item-resource .field-name-field-pdf .pdf {
	height: 250px !important;
}
@media (min-width: 600px) {
	.field-type-text-long .field-item p:last-of-type {
		margin-bottom: 0;
	}
}
/*Branding*/
#site-name a {
	letter-spacing: normal;
}
@media (min-width: 768px) {
	#header-wrapper {
		display: none;
	}
}
#site-name {
	font-weight: bold;
	width: 65%;
}
@media (min-width:389px) {
	#site-name {
		width: 100%;
	}	
}
#branding {
	padding: 10px;
	position: relative;
}
@media (min-width: 768px) {
	#branding {
		padding: 15px;
	}
}
header.clearfix {
	display: none;
}
#header-wrapper #logo {
	display: none;
}
@media (min-width: 768px) {
	#header-wrapper #logo {
		display: block;
	}
}
#branding .h-group {
	margin-top: 5px;
}
@media only screen and (min-width: 768px) {
	#logo, #branding .h-group {
		display: table-cell;
	}
}
.site-logo {
	max-width: 90px;
}
@media (min-width: 768px) {
	.site-logo {
		min-width: 100px;
	}
}
/*Positioning*/

.region-sidebar-first {
	height: 100%;
	position: fixed;
	left: -250px;
	top: 0;
	width: 250px;
	padding-top: 20px;
	overflow-y: auto;
	z-index: 3;
	transition: left .5s ease, background .5s ease-out;
}
.logged-in .region-sidebar-first {
	padding-top: 70px;
}
.region-sidebar-first.active {
	left: 0;
	overflow: auto;
}
#block-blockify-blockify-site-name {
                display: none;
}
@media (min-width: 768px) {
	.region-sidebar-first {
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		overflow-y: auto;
	}
	.region-sidebar-first .region-inner {
		padding-bottom: 150px;
	}
	.logged-in .region-sidebar-first .region-inner {
		padding-bottom: 200px;
	}
	#block-blockify-blockify-logo, #block-blockify-blockify-site-name {
		display: block;
	}
}
#content-wrapper > .container {
	max-width: 100%;
}
.region-highlighted {
	width: 100%;
	padding-top: 55px;
}
.region-highlighted .block:last-child {
	margin-bottom: 0;
}
#main-content {
	max-width: 960px;
	margin: 0 auto;
}
@media (min-width: 389px) {
        .region-highlighted {
                padding-top: 39px;
        }
}
@media (min-width: 768px) {
        .region-highlighted {
                top: 0;
		padding-top: 0;
		margin-top: 0;
		position: fixed;
        	z-index: 3;
        	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
		width: 80%;
        }
	.logged-in .region-highlighted {
		margin-top: 65px;
	}
}
#header-wrapper {
	z-index: 2;
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
@media (min-width: 768px) {
	.front .one-column.at-panel {
		margin-top: 0;
	}
}
#tasks {
	margin-top: 100px;
}
@media (min-width: 768px) {
	.one-column.at-panel {
		margin-top: 0;
	}
}
/*Video field*/
.player {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.player iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.video-embed-description {
	padding: 10px;
	background: #fff;
}
/*Homepage*/
.front #main-content {
        margin-top: 50px;
}

@media (min-width: 768px) {
	#main-content {
		margin-top: 70px;
	}
	.front #main-content {
        	margin-top: 20px;
	}

}
/*Sidebar*/
.region-sidebar-first .region-inner {
	position: relative;
}
#block-block-1 {
	position: absolute;
	top: 0;
	right: 10px;
	display: block;
}
@media (min-width: 768px) {
	#block-block-1 {
		display: none;
	}
}
.close-nav a {
	display: block;
	color: #01579B;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 50%;
	transition: background .7s ease;
}
.close-nav a:hover {
	background: #ADD8E6;
}
.close-nav span {
	position: absolute;
	left: -9999px;
	top: -9999px;
}
.close-nav a:after {
	content: '✖';
	font-size: 2em;
	margin-left: 7px;
	margin-top: 3px;
	display: inline-block;
}

#mobile-menu-toggle {
	display: inline-block;
	padding-left: 20px;
	position: absolute;
	top: 7px;
	right: 15px;
}
#mobile-menu-toggle a {
	display: block;
	padding: 1px 10px;
	border-radius: 5px;
	font-size: 1.5em;
	transition: background ease .7s;
}
#mobile-menu-toggle a:hover {
	background: #EC2479;
}
#page-wrapper.active #page-wrapper-overlay {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.75);
	z-index: 3;
}

/*Footer*/

@media only screen and (min-width: 768px) {
	#footer-wrapper {
		position: fixed;
		bottom: 0;
		z-index: 3;
		width: 20%;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 769px) {
	#footer-wrapper {
		width: 25%;
	}
}
#footer-wrapper .block-content {
	font-size: 1.5em;
	padding-top: 15px;
	text-align: center;
}
#footer-wrapper #block-block-2 {
	margin-bottom: 0;
}
#footer-wrapper .block-content p {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: .75em;
}
#footer-wrapper .block-content p:last-of-type {
	margin-bottom: 0;
	display: block;
}
@media (min-width: 768px) {
	#footer-wrapper .block-content {
		text-align: left;
	}
	#footer-wrapper .block-content p {
		display: block;
		margin-right: 0;
	}
}

/*Menu-related styles*/
.heading-anchor {
	visibility: hidden;
	padding-top: 70px;
}
.logged-in .heading-anchor {
	padding-top: 95px;
}
@media (min-width: 768px) {
	.heading-anchor {
		padding-top: 90px;
	}
	.logged-in .heading-anchor {
		padding-top: 100px;
	}
}
.nolink {
	cursor: pointer;
	transition: color .7s ease;
}
.nolink:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	border-top: 5px solid;
	display: inline-block;
	margin-left: 6px;
	transition-property: transform;
	transition-duration: .5s;
}
.nolink.toggle:after {
	transform: rotate(-180deg);
	border-top: 5px solid;
}
.nolink:hover:after {
	border-top: 5px solid;
}
.js .nolink + ul.menu, .js .menu-depth-1 > ul.menu {
	display: none;
	transition: opacity .5s ease;
	opacity: 0;
}
.nolink.toggle + ul.menu, .menu-depth-1.active-trail > ul.menu
 {
	display: block;
	opacity: 1;
} 
ul.menu .menu-depth-2 a + ul {
	display: none;
}
ul.menu .menu-depth-2 a.active + ul {
	display: block;
}
ul.menu li {
	list-style: none;
	margin-left: 10px;
	margin-top: 20px;
}
ul.menu .menu-depth-2 > ul .menu-depth-3:last-of-type {
	margin-bottom: 0;
}

/*Panel styles*/

.panel-pane.block {
	margin-bottom: 40px;
}
.pane-bundle-full-width-image-with-text-overlay .field-name-field-image img {
	width: 100%;
}
.pane-bundle-full-width-image-with-text-overlay .field-name-field-image {
	display: none;
}
.group-overlay {
	position: absolute;
	z-index: 1;
	padding: 15px 0;
	background: rgba(3,119,189,.75);
	color: #fff;
	bottom: 0;
	width: 100%;
}
.group-overlay > div {
	padding: 0 15px;
}
.group-overlay a {
	color: #ADD8E6;
}
.group-overlay a:hover, .group-overlay a:focus, .group-overlay a:active {
	color: #fff;
}
.group-overlay .field-name-field-heading, .field-name-field-column-link a {
	font-family: 'Pragati Narrow';
	font-size: 1.65em;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 10px;
}
.field-name-field-column-link a {
	font-size: 1.4em;
}
.field-type-text-long input[type='button'], .button-style,
.field-name-field-url a {
	padding: 5px 10px;
	border: none;
	white-space: normal;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: 'Pragati Narrow';
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	transition: all .3s ease-out;
}
.button-style {
	display: inline-block;
	margin: 15px 0 10px 0;
}
.field-name-field-url a {
	background: #c3165e;
	color: #fff;
}
.field-type-text-long input[type='button']:hover, .button-style:hover, .field-name-field-url a:hover  {
	background: #EC2479;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	color: #fff;
}
.pane-bundle-full-width-image-with-text-overlay .pane-wrapper {
	height: 475px;
	background-position: center,center;
	background-size: cover;
	position: relative;
}
.field-name-field-column-content:after, .field-name-field-column-content-half-width:after, 
.field-name-field-column-content-third-width:after {
        content: ''; 
	display: table;
	clear: both;
}
.field-name-field-column-content  .entity, .pane-bundle-two-columns .field-name-field-column-content-half-width .entity,
.pane-bundle-three-columns .field-name-field-column-content-third-width .entity {
	width: 100%;
	float:left;
}
@media (min-width: 600px) {
		.pane-bundle-two-columns .field-name-field-column-content-third-width .entity,
		.pane-bundle-three-columns .field-name-field-column-content-third-width  .entity {
			width: 33.3333%;
		}
		.pane-bundle-two-columns .field-name-field-column-content-half-width .entity,	
		.pane-bundle-two-columns .field-name-field-column-content .entity {
			width: 50%;
		}
	}
.panel-pane .block-content {
	padding: 15px;
}
.pane-bundle-two-columns.panel-pane .block-content, .pane-bundle-three-columns.panel-pane .block-content {
	padding: 0;
}
.pane-bundle-full-width-image-with-text-overlay .block-content {
        padding: 0;
}
.panel-pane .pane-title {
	padding: 10px 15px;
	color: #fff;
	font-size: 1.4em;
	text-transform: none;
}
.panel-pane .pane-title a {
	color: #fff;
}
.panel-pane .pane-title a:hover  {
	color: #add8e6;
}
.pane-bundle-three-columns .entity .content, .pane-bundle-two-columns .entity .content {
	padding: 0 15px;
}
.pane-bundle-three-columns .field-name-field-column-description .field-item,
.pane-bundle-two-columns .field-name-field-column-description .field-item {
	margin-bottom: 15px;
}
.panel-pane .field-name-field-image, .field-name-field-column-link {
	margin: 15px 0;
}
.panel-pane.pane-bundle-one-column .field-name-field-image {
	margin-top: 0;
}
.field-name-field-column-link + .field-name-field-column-description {
	margin-top: -10px;
}
@media (min-width: 600px) {
	.pane-bundle-three-columns .field-item:nth-of-type(4), 
	.pane-bundle-two-columns .field-item:nth-of-type(3) {
		clear: left;
	}
}
/*Slideshow*/
.flex-direction-nav a:before {
	margin-top: -5px;
}
.flexslider {
	border: none;
}
/*Paragraphs*/
.paragraphs-item-resource .field, .paragraphs-item-resource .field-name-field-resource > .field-items > .field-item  {
	margin-bottom: 0;
}
.field-name-field-lead-image {
	margin-bottom: 1.5em;
}
@media (min-width) {
	.entity-paragraphs-item {
		margin-bottom: 0;
	}
}
.entity-paragraphs-item .article {
	margin-bottom: 0;
}
.entity-paragraphs-item .field p, .front .panel-pane .field p {
	margin-bottom: 15px;
}
.entity-paragraphs-item .field:last-of-type p:last-of-type,
.front .panel-pane .field p:last-of-type {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.paragraphs-item-media-half-width {
		float: right;
		width: 50%;
		margin: 0 0 10px 10px;
	}
	.paragraphs-item-media-half-width-float-left {
		float: left;
		width: 50%;
		margin: 0 10px 10px 0;
	}
}
.image-field-caption, .not-front .video-embed-description, .flex-caption,
.field-type-image figcaption  {
	color: #6D6D6D;
	padding: 10px;
	margin: 0;
	font-style: italic;
	font-size: 0.8em;
}
.front .field-type-image figcaption, .front .flex-caption {
	background: #fff;
}
.field-type-image figure img {
	width: 100%;
}
.node-type-resource .field-type-image figure img, .paragraphs-item-resource .field-type-image figure img {
	width: auto;
	max-width: 100%;
}
.paragraphs-item-resource > .content {
	padding: 15px 15px 15px 15px;
}
.paragraphs-item-resource .field-name-field-chapter {
	display: none;
}
.paragraphs-item-resource h2.node-title a {
	color: #c3165e;
}
.paragraphs-item-resource h2.node-title a:hover {
        color: #ec2479;
}
.entity-paragraphs-item .node-title {
	margin: 0 0 5px 0;
}
.paragraphs-item-resource {
	margin: 4em 0 1.5em 0;
}
@media (min-width: 1060px) {
	.paragraphs-item-resource {
		width: 50%;
		float: right;
		margin: 2.5em 0 1.5em 10px;
	}
}
.field-name-field-callout-text {
	padding-left: 20px;
	font-style: italic;
	border-left-width: 5px;
	border-left-style: solid;
}
@media (min-width: 450px) {
        .paragraphs-item-media-full-width .field-name-field-callout-text {
                margin: 0 2em 1.5em 2em;
        }
}
@media (min-width: 768px) {
        .paragraph-item-media-full-width .field-name-field-callout-text {
		margin: 0 3em 1.5em 3em;
	}
}
.paragraphs-item-resource .field-item {
	position: relative;
}
.paragraphs-item-text .field-item table {
	margin: 1.5em 0;
}
.paragraphs-item-text .field-item table td,
.paragraphs-item-text .field-item table th  {
	padding: 10px;
}
.paragraphs-item-text .field-item table,
.paragraphs-item-text .field-item table td,
.paragraphs-item-text .field-item table th,
.paragraphs-item-text .field-item tbody  {
        border-color: #2e2e2e;
}
.paragraphs-item-text .field-item table th {
	background-color: #0377bd;
	border-width: 1px;
	border-style: solid;
}
.paragraphs-item-text .field-item table.mobile-table th {
	border-width: 0;
	border-style: none;
}
.paragraphs-item-text .field-item table td ul,
.paragraphs-item-text .field-item table td ol {
        margin: 0 0 0 2em;
}
/*Special table styles*/
.special-table-wrapper {
	background-color: #01579b;
}
.paragraphs-item-text .field-item .special-table-wrapper td, .paragraphs-item-text .field-item .special-table-wrapper th, 
.paragraphs-item-text .field-item .special-table-wrapper tbody, .paragraphs-item-text .field-item .special-table-wrapper table {
	border-color: transparent;
}
.special-table-wrapper table {
	background: #fff;
}
.special-table-wrapper h3 {
	color: #fff;
	padding: 10px;
	font-weight: bold;
}
.special-table-wrapper td.icon {
	color: #fff;
	font-size: 4em;
	display: none;
}
@media (min-width: 920px) {
	.special-table-wrapper td.icon {
		display: table-cell;
	}
}
.special-table-wrapper table {
	display: none;
}
.mobile-table {
	display: table;
}
@media (min-width: 570px) {
	.special-table-wrapper table {
		display: table;
	}
	.mobile-table {
		display: none;
	}
}
.special-table-wrapper tr > td:nth-of-type(1) {
	background: #01579b;
}
.special-table-wrapper tr > td:nth-of-type(4),
.special-table-wrapper tr > td:nth-of-type(5) {
	background: #e1f5fe;
	color: #000;
}
.special-table-wrapper tr > td:nth-of-type(2),
.special-table-wrapper tr > td:nth-of-type(3)  {
	background: #0377bd;
	color: #fff;
}
/*Resources*/
.field-name-field-chapter {
	float: right;
	margin-top: 25px;
}
.field-name-field-chapter .field-label {
	font-size: 1.1em;
	line-height: 1.2;
}
.node-type-resource .node > .content {
	padding: 25px 15px 15px 15px;
}
.resource-heading {
	padding: 10px 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Pragati Narrow';
	font-weight: 700;
}
.node-type-chapter .resource-heading {
	position: absolute;
	top: -56px;
	width: 100%;
	left: -15px;
}
.view-resources .views-field-title a span {
	text-transform: uppercase;
}
.view-resources .views-row {
	margin-bottom: .75em;
}
.view-resources h3 {
	margin-top: 1.5em;
	margin-bottom: .5em;
}
.view-resources h3:first-of-type {
	margin-top: .5em;
}
#block-views-resources-block-1 .block-title {
	margin: 1.5em 0 0.5em 0;
}
/*Back to top link on mobile*/
#block-block-3 {
	position: fixed;
	bottom: 15px;
	right: 0;
	z-index: 2;
	display: none;
}
#block-block-3 .block-content a span {
	position: absolute;
	left: -9999px;
	bottom: -9999px;
}
#block-block-3 .block-content a {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.64);
	font-size: 2.5em;
	display: block;
	position: relative;
	background: #0377BD;
}
#block-block-3 .block-content a:after {
	content: '^';
	position: absolute;
	color: #fff;
	top: 1px;
	left: 11px;
}
/*Print related*/
.print-video-thumbnail {
	display: none;
}

/* Links */
a,
a.active,
li a.active,
.paragraphs-item-resource h2.node-title a,
.print-content .node-resource .node-header a,
.print-content .print-video-thumbnail a:after {
  color: #c3165e;
}
/* Link hovered */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus,
.paragraphs-item-resource h2.node-title a:hover,
.print-content .node-resource .node-header a:hover {
  color: #ec2479;
}
.node h1.node-title a:hover,
.node h2.node-title a:hover,
.paragraphs-item-resource h2.node-title a:hover {
  color: #ec2479;
}
/* Slogan */
#site-slogan {
  color: #ffffff;
}
/* Menu bar */
#page-title, #site-name a, ul.menu li a, .nolink, .print-site_name a, .print-site_name .placeholder,
.print-content .node-header .node-title a, .print-content .node-header .node-title a:hover, .print-blocks.toc .block-title  {
  color: #ffffff;
}
.nolink:after {
	border-top-color: #ffffff;
}
#site-name a:hover,
.nav .block-menu ul a:focus,
.nav .block-menu ul a:hover,
.nav .block-menu ul a:active,
ul.menu li a:hover, .nolink:hover,
.nolink.toggle.active-trail, ul.menu li a:hover, ul.menu li a:focus, ul.menu li a.active:focus,
ul.menu  a.active, ul.menu li.menu-depth-1 > a.active  {
  color: #add8e6;
}
.nolink.toggle.active-trail:after, .nolink.toggle:after:hover {
	border-top-color: #add8e6;
}
/* Block title */
.block h2,
h2, .print-content .block h2, .print-content h2, .print-blocks h2 {
  color: #2e2e2e;
}
/*Page title*/
.region-highlighted, .print-content .node-header, .print-blocks.toc .block-title {
	background: #0377bd;
}
#page-title {
	color: #ffffff;
}
/*Footer*/
#footer-wrapper, .print-footer {
	background: #0377bd;
}
#footer-wrapper .block-content a, .print-footer .block-inner a {
	color: #ffffff;
}
#footer-wrapper .block-content a:hover, .print-footer .block-inner a:hover {
	color: #add8e6;
}
/*Buttons*/
.field-type-text-long input[type='button'], .button-style, #mobile-menu-toggle a, .print-content .button-style {
	background: #c3165e;
	color: #ffffff;
}
.field-type-text-long input[type='button']:hover, .button-style:hover, #mobile-menu-toggle a:hover, .print-content .button-style:hover {
	background: #ec2479;
	color: #ffffff;
}
/*Blocks, panes, resources*/
.panel-pane .block-content, .paragraphs-item-resource > .content,
.image-field-caption, .not-front .video-embed-description, .not-front .flex-caption, .not-front .full-caption,
.toc, .print-content .field-type-image figcaption, .print-content .flex-caption,
.print-content .video-embed-description, .node-type-resource .node > .content {
	background: #e1f5fe;
}
.panel-pane .pane-title, .paragraphs-item-resource:before,
#block-block-3 .block-content a, .resource-heading {
	background: #0377bd;	
}
/*Sidebar and branding*/
.region-sidebar-first, #branding, div.print-logo, .print-site_name, .print-source_url {
        background: #01579b;
}
/*Callout text*/
.field-name-field-callout-text {
	border-left-color: #0377bd;
}
